In [ ]:
#Here we are going to use PIMA Indian Daibities Dataset
#The variable names are as follows:
Pregnancies – Number of times pregnant
Glucose – Plasma glucose concentration a 2 hours in an oral glucose tolerance test
Blood Pressure – Diastolic blood pressure (mm Hg)
Skin Thickness – Triceps skinfold thickness (mm)
Insulin – 2-Hour serum insulin (mu U/ml)
BMI – Body mass index (weight in kg/(height in m)^2)
DiabetesPedigreeFunction – Diabetes pedigree function
Age – Age in years
Outcome – Class variable (0 or 1)

In [ ]:
#Importing necessary modules
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [ ]:
# importing the dataset
from google.colab import files
uploaded = files.upload()

import io
data = pd.read_csv(io.BytesIO(uploaded['diabetes.csv']))
# Dataset is now stored in a Pandas Dataframe

Saving diabetes.csv to diabetes.csv

In [ ]:
#Checking the shape of our data
data.shape

(768, 9)

In [ ]:
#Printing top 5 rows to make us familier with dataset
data.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [ ]:
#Using .info() function on a DataFrame we can get basic information about our DataFrame like features and their datatypes, no of missing values, number of rows or columns etc. as shown below:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
#Checking basic test statistics like mean, median etc.
data.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [ ]:
#let’s check how much data our in dataset is missing (in form of 0):
(data.iloc[:,1:6] == 0).sum()

Glucose            5
BloodPressure     35
SkinThickness    227
Insulin          374
BMI               11
dtype: int64

In [ ]:
#Let's convert the 0’s into NaN by using .replace() method
for i in range(1,6):
    data.iloc[:, i].replace(0, np.nan, inplace=True)

In [ ]:
#Again checking how much data in our dataset is mentioned as 0:
(data.iloc[:,1:6] == 0).sum()

Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
dtype: int64

In [ ]:
#let’s again for confirmation, check our dataset using .head() method and print the top 10 rows
data.head(10)

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6    148.0           72.0  ...                     0.627   50        1
1            1     85.0           66.0  ...                     0.351   31        0
2            8    183.0           64.0  ...                     0.672   32        1
3            1     89.0           66.0  ...                     0.167   21        0
4            0    137.0           40.0  ...                     2.288   33        1
5            5    116.0           74.0  ...                     0.201   30        0
6            3     78.0           50.0  ...                     0.248   26        1
7           10    115.0            NaN  ...                     0.134   29        0
8            2    197.0           70.0  ...                     0.158   53        1
9            8    125.0           96.0  ...                     0.232   54        1

[10 rows x 9 columns]

In [ ]:
#The above process is not generally advised because it will delete all observations where any of variables is missing ultimately reducing the size of our dataset and quality of our model.
data = data.dropna()

In [ ]:
#Checking how much data is left after using .dropna() method
data.shape

(392, 9)

In [ ]:
#Almost 50% of our data is deleted which is not good for us. 
#If only a few rows contain missing values, then it’s not so bad, but generally, we need a more robust method. 
#So this method is only advised to use if NaN values are few in numbers.

In [ ]:
#Filling missing values with a test statistics like mean, median or mode.
#Showing here with mean only

mean_value=data['Age'].mean()
data['Age']=data['Age'].fillna(mean_value)

In [ ]:
#Using Forward fill and Backward fill
#Backward fill
data.fillna(method='bfill')
#Forward Fill
data.fillna(method='ffill')

     Pregnancies  Glucose  ...  Age  Outcome
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
6              3     78.0  ...   26        1
8              2    197.0  ...   53        1
13             1    189.0  ...   59        1
..           ...      ...  ...  ...      ...
753            0    181.0  ...   26        1
755            1    128.0  ...   37        1
760            2     88.0  ...   22        0
763           10    101.0  ...   63        0
765            5    121.0  ...   30        0

[392 rows x 9 columns]

In [27]:
#Using imputer and fitting out the model at once by using a Sklearn’s pipeline object as shown below:
import sklearn.linear_model as sk
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values='NaN', strategy='mean')
imp = imp
log = sk.LogisticRegressionCV()
steps = [('imputation', imp), ('logistic_regresson', log)]
pipeline = Pipeline(steps)

In [28]:
print(data)

     Pregnancies  Glucose  ...  Age  Outcome
3              1     89.0  ...   21        0
4              0    137.0  ...   33        1
6              3     78.0  ...   26        1
8              2    197.0  ...   53        1
13             1    189.0  ...   59        1
..           ...      ...  ...  ...      ...
753            0    181.0  ...   26        1
755            1    128.0  ...   37        1
760            2     88.0  ...   22        0
763           10    101.0  ...   63        0
765            5    121.0  ...   30        0

[392 rows x 9 columns]